<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="configoo" version="1.0.8" />
  <package id="Membase" version="2.14" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.Extensions.Conventions" version="2.2.0.5" />
  <package id="NLog" version="2.0.0.2000" />
</packages>